<h1>Add a new Question</h1>

<% if @question.errors.any? %>
  <h3 class="field_with_errors">ERRRORSSSSS!!!!!!</h3>
  <div class="alert alert-danger">
    <ul>
      <% @question.errors.full_messages.each do |m| %>
      <li><%= m %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= render "form"  %>

