%h1 Test Page

%p
  Task:
  =text_field_tag 'task', nil, class: 'add-task'
  %span#reverse
//%ul#task-list 


/ .well
/   Here is one
/   .btn.btn-danger.pull-right.remove
/     Remove
/ .well
/   Here is two
/   .btn.btn-danger.pull-right.remove
/     Remove
/ .well
/   Here is three
/   .btn.btn-danger.pull-right.remove
/     Remove
/ .well
/   Here is four
/   .btn.btn-danger.pull-right.remove
/     Remove
/ .well
/   Here is five
/   .btn.btn-danger.pull-right.remove
/     Remove